.App {
  text-align: center;
}

form {
  display: flex; 
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
}
label, input, textarea {
  margin: 1rem;
  border-radius: 3px;
  padding: 4px;
}

.flex-column {
  display: flex; 
  flex-direction: column;
}